
$bg-gradiant: linear-gradient(-45deg,#044390,#29bbff);
$primary-font-color:#fff;

    //navbar

    $navbar-bgcolor: #041220;
    $navbar-bgcolor-hover: #033a56;

    $navbar-color-hover: #00bbff;
